body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #4caf50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#locationOutput {
    margin-top: 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: fit-content;
    text-align: center;
    font-size: 1.2em;
}

.observed-element {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}


#resizeElement {
    resize: both;           
    overflow: auto;        
    min-width: 100px;       
    min-height: 100px;      
    max-width: 500px;       
    max-height: 500px;      
}

#performanceLog {
    margin-top: 30px;
    padding: 15px;
    background-color: #ffeb3b;
    border: 1px solid #f57c00;
    border-radius: 5px;
    text-align: left;
    width: 80%;
    font-size: 1em;
}
